<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div class="container">

<h1>Job</h1>
<hr>

<table class="table table-bordered table-striped">
	<thead class="thead-dark">
		<tr>
			<th>Name</th>
			<th>Tier</th>
			<th>Location</th>
			<th>Cluster</th>
			<th>Server</th>
			<th>Application</th>
			<th>URL</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="tempJob : ${jobs}">
			<td th:text="${tempJob.name}" />
			<td th:text="${tempJob.tier}" />
			<td th:text="${tempJob.location}" />
			<td th:text="${tempJob.cluster}" />
			<td th:text="${tempJob.server}" />
			<td th:text="${tempJob.application}" />
			<td th:text="${tempJob.targetUrl}" />
		</tr>
	</tbody>
</table>

<h2>Rules</h2>
<hr>

<table class="table table-bordered table-striped">
	<thead class="thead-dark">
		<tr>
			<th>Name</th>
			<th>Type</th>
			<th>Path</th>
			<th>Rule</th>
			<th>Expected Value</th>
			<th>Status Type</th>
			<th>Active</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="tempRule : ${rules}">
			<td th:text="${tempRule.name}" />
			<td th:text="${tempRule.typeCode.name}" />
			<td th:text="${tempRule.valuePath}" />
			<td th:text="${tempRule.ruleCode.name}" />
			<td th:text="${tempRule.expectedValue}" />
			<td th:text="${tempRule.statusCode.name}" />
			<td th:text="${tempRule.active}" />
		</tr>
	</tbody>
</table>

<h2>Historical Names</h2>
<hr>

<table class="table table-bordered table-striped">
	<thead class="thead-dark">
		<tr>
			<th>Name</th>
			<th>Path</th>
			<th>Type</th>
			<th>Active</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="historicalName : ${historical}">
			<td th:text="${historicalName.name}" />
			<td th:text="${historicalName.valuePath}" />
			<td th:text="${historicalName.typeCode.name}" />
			<td th:text="${historicalName.active}" />
		</tr>
	</tbody>
</table>

<h2>Content Paths</h2>
<hr>

<table class="table table-bordered table-striped">
	<thead class="thead-dark">
		<tr>
			<th>Name Path</th>
			<th>Content Path</th>
			<th>Mime Type Path</th>
			<th>Disk Directory</th>
			<th>Active</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="tempContents : ${content}">
			<td th:text="${tempContents.namePath}" />
			<td th:text="${tempContents.contentPath}" />
			<td th:text="${tempContents.mimeTypePath}" />
			<td th:text="${tempContents.diskDir}" />
			<td th:text="${tempContents.active}" />
		</tr>
	</tbody>
</table>

<h2>Actions</h2>
<hr>

<table class="table table-bordered table-striped">
	<thead class="thead-dark">
		<tr>
			<th>Statuses</th>
			<th>Actions</th>
			<th>Active</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="tempAction : ${actions}">
			<td th:text="${tempAction.statuses}" />
			<td th:text="${tempAction.actions}" />
			<td th:text="${tempAction.active}" />
		</tr>
	</tbody>
</table>

</div>
</body>

</html>